/* style.css */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;

}

ul {
    list-style-type: none;
}

.header-links a {
    text-decoration: none;
    color: white;
}

.header{
    display: flex;
    padding: 16px 200px;
    background: #5a9cb1;
}

.header-links {
    display: flex;
    margin-left: auto;
    gap: 16px;
}

.footer {
    color: #fff;
    background-color:darkslategray;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px 200px;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.banner {
    background-color: #5a9cb1;
    padding: 0px 200px 100px 200px;
    height: 250px;
    display: flex;
}

.block1 {
    padding: 0 200px;
    height: 250px;
    display: flex; 
}

.block2, .block3 {
    padding: 0 200px;
    height: 250px;
    display: flex;
}

.banner-left .title {
    font-size: 32px;
    font-weight: bold;
}

img.banner {
/*    width: 100%;*/
}

.banner-right {
    width: 150px;

.block1 {
    padding: 25px 200px;
    flex-direction: column;
    align-items: center;
}

.icon-grid {
    display: flex;
}

.block2 {
    background: lightgray;
    display: flex;
    flex-direction: column;
    padding: 75px 200px;
}

.quote-author {
    text-align: right;
}

.banner-left, .banner-right, .quote-body, .quote-author {
    flex: 1;
}

.block3 {
    align-items: center;
    justify-content: center;
}
.modal {
    background: royalblue;
    color: white;
    border-radius: 5px;
    width: 300px;
    height: 100px;
    padding: 30px 75px;
}